@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
.btn-outline-warning {
  color: #f48635;
}
.btn-outline-warning:hover {
  background-color: #e8722e !important;
  color: #ffffff;
}
.carousel-inner .active {
  background: #333a91;
}
.btn-warning {
  color: #ffffff;
  background-color: #313397;
}
.topbanner h5 {
  color: #e8722e;
  font-weight: 300;
}
.topbanner h1 {
  font-family: "Poppins", sans-serif;
}
.bi-person-check {
  margin-right: 5px;
}
.card-img,
.card-img-bottom,
.card-img-top {
  width: 100%;
  margin: 5px auto;
}
.card {
  background-color: #f8f9fa;
  border: 1px solid rgb(225, 220, 220);
}
.bg-danger {
  background-color: #313397 !important;
  color: #ffffff;
  border: none;
}
.badge {
  background-color: #e8722e !important;
  color: #ffffff;
}
.bg-warning {
  background-color: #f48635 !important;
}

.nav-item .nav-link {
  color: #313397;
  font-weight: 400;
  margin: 3px;
  font-size: 0.8em;
  border: 1px solid #333a91;
}

.nav-item .nav-link:hover {
  color: #ffffff;

  background: #333a91 !important;
}

.nav-item .nav-link .btn-secondary {
  background-color: #e8722e;
}
.nav-item .nav-link:hover {
  background: #333a91;
}
.nav-item .active {
  background-color: #e8722e !important;
  color: #ffffff !important;
}
.nav-item .bi {
  font-size: 0.9em;
}
.card-body p {
  position: absolute;
  bottom: 0;
  display: grid;
  right: 0;
  margin: 5px auto;
  width: 100%;
  font-weight: 600;
  color: #000000;
}
.card img {
  width: 100%;
  object-fit: cover;
}
.footer .bi {
  color: #313397;
  margin: 4px;
  font-size: 1em;
}
.footer .socials .bi {
  margin: 13px;
  font-size: 1.1em;
}

.footer .bi:hover {
  color: #e8722e;
}
ol,
ul {
  padding-left: 3px;
  list-style: none;
}
.footer li {
  margin-top: 5px;
}
.footer a {
  color: #333a91;
}
ol,
ul a:hover {
  color: #e8722e;
}
.footer {
  border-bottom: 2px solid #ffffff;
}
.footer .footercertified img {
  width: 50px;
  margin: 10px;
}

.footer button .bi {
  color: #ffffff;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 40px;
  text-indent: 10px;
  border: 2px solid #d6d4d4;
  font-size: 12px;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid #333a91;
}

.search .bi-search {
  position: absolute;
  top: 10px;
  left: 15px;
}

.search button {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 50px;
  font-size: 12px;
  background: #333a91;
}
.search button:hover {
  color: #e8722e;
}

.finalfooter p {
  font-size: 0.8em;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

/* modal button */

.sectionmodal a {
  cursor: pointer;
  transition: all 200ms linear;
}

a:hover {
  text-decoration: none;
}

.sectionmodal .link {
  color: #fff;
}

.sectionmodal .link:hover {
  color: #ea2c62;
}

.sectionmodal p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}

.sectionmodal h4 {
  font-weight: 600;
}

.sectionmodal h6 span {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.sectionmodal {
  position: relative;
  width: 100%;
  display: block;
}
.sectionmodal .full-height {
  min-height: 50vh;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.sectionmodal .checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 2px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #ffffff;
}

.sectionmodal,
.modal-content {
  background-color: #e8722e;
}
.sectionmodal .modal-body {
  padding: 0;
}
.sectionmodal .checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 10%;
  color: #f48635;
  background-color: #2a2b38;
  content: "";
  z-index: 20;
  font-size: 12px;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}

.sectionmodal .checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}

.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 40px;
}

.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}

.login-div {
  width: 150px;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  background-color: #e8722e;
  position: absolute;
  border-radius: 0px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}

.center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}

.sectionmodal .form-group {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.sectionmodal .form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}

.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}

.input-icon {
  position: absolute;
  top: 10px;
  left: 18px;
  height: 38px;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  color: #e8722e;
  transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  transition: all 200ms linear;
}

.form-group input::-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  transition: all 200ms linear;
}

.form-group input:-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  transition: all 200ms linear;
}

.form-group input::-webkit-input-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  transition: all 200ms linear;
}

.form-group input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: all 200ms linear;
}

.form-group input:focus::-moz-placeholder {
  opacity: 0;
  transition: all 200ms linear;
}

.form-group input:focus:-moz-placeholder {
  opacity: 0;
  transition: all 200ms linear;
}

.form-group input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: all 200ms linear;
}

.sectionmodal .btn {
  border-radius: 4px;
  height: 48px;
  width: 100%;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #313397;
  color: #fff;
  box-shadow: 0 8px 24px 0 rgba(18, 248, 173, 0.2);
}

.btn:active,
.btn:focus {
  background-color: #fff;
  color: #e8722e;
  box-shadow: 0 8px 24px 0 rgba(255, 255, 255, 0.2);
}

.btn:hover {
  background-color: #fff;
  color: #ffffff;
  box-shadow: 0 8px 24px 0 rgba(255, 255, 255, 0.2);
}

.logo {
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}

.logo img {
  height: 26px;
  width: auto;
  display: block;
}
.footer .bi-facebook {
  color: #0f91f3;
}
.footer .bi-linkedin {
  color: #0a66c2;
}

.footer .bi-instagram {
  color: #cf42bc;
}
.footer .bi-twitter {
  color: #1d9bf0;
}

.footercontact a {
  text-decoration: none;
}
.footercontact a:hover {
  color: #e8722e;
}

.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
